.navbar-brand{
    margin: auto 0;
    height: 100px;
    display: flex;
    img{
        margin: auto;
    }
}

.promoters{
    p.heading{
        background-color: #ffb945;
      
        padding-left: 30px;
        color: white;
        
        font-weight: bold;
    }
}